# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.mo
*.swp
*.db
db.sqlite3

# Virtual Environments
venv/
env/
ENV/
.venv/
.idea/

# Environment variables
.env

# VS Code settings
.vscode/

# Django static/media folders
static/
media/
staticfiles/

# Mac system files
.DS_Store

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Node.js (if used for frontend build)
node_modules/

# Build
build/
dist/
*.egg-info/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/

# Pytest
.pytest_cache/

# Render / deployment configs (optional if you want to keep them)
*.render-build/
